
on: ["push", "pull_request"]

name: Comma Continuous Integration

jobs:

  pytest:
    name: pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup Python & Poetry and install project
        uses: abatilo/actions-poetry@v1.5.0
        with:
          python_version: 3.8.0
          poetry_version: 1.0
          working_directory: "."  # optional, defaults to ".'
          args: install -E 'autodetect net'
      - name: Run pytest
        uses: abatilo/actions-poetry@v1.5.0
        with:
          python_version: 3.8.0
          poetry_version: 1.0
          working_directory: "."
          args: run python -m pytest --cov=comma --cov-branch tests/
      - name: Run codecov to upload report to site
        uses: abatilo/actions-poetry@v1.5.0
        with:
          python_version: 3.8.0
          poetry_version: 1.0
          working_directory: "."
          args: run codecov -t ${{ secrets.CODECOV_TOKEN }}
